@{ 
    ViewBag.Title = "تعریف مدیر جدید";
}
<form method="post">
    نام کاربری: <input type="text" name="Username"/>
    نام و نام خانوادگی: <input type="text" name="Fullname"/>
    کلمه عبور: <input type="password" name="Password" />
    تکرار کلمه عبور: <input type="password" name="ConfirmPass"/>
    <input type="submit" value="ایجاد"/>
</form>