@{
    ViewBag.Title = "ویرایش مدیر قبلی";
}
<form method="post">
    نام و نام خانوادگی: <input type="text" name="Fullname" />
    کلمه عبور: <input type="password" name="Password" />
    تکرار کلمه عبور: <input type="password" name="ConfirmPass" />
    <input type="submit" value="ویرایش" />
</form>
