@{ 
    ViewBag.Title = "ورود به سیستم";
}
<form method="post">
    <input type="text" placeholder="نام کاربری" name="Username"/>
    <input type="password" placeholder="کلمه عبور" name="Password"/>
    <input type="submit" value="ورود" title="برای وارد شدن کلیک کنید"/>
</form>